<!doctype html>
<html lang="en">
<head>
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>ABHAYA WELFARE </title>
	<link rel = "icon" href="('{{ asset('assets/img/logo.png') }}')" type="image/x-icon">

	<!-- Styles -->
	<link rel='stylesheet' href='assets/css/bootstrap.min.css'>
	<link rel='stylesheet' href='assets/css/animate.min.css'>
	<link rel='stylesheet' href="assets/css/font-awesome.min.css"/>
	<link rel='stylesheet' href="assets/css/style.css"/>
     <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
     <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">


	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

	<!-- Favicon -->
	<link rel="shortcut icon" href="#">
</head>


<body>
<!-- Begin Hero Bg -->
<div id="parallax" style="background-image: url('{{ asset('assets/img/donate2.jpg') }}'); height: auto;">
</div>
<!-- End Hero Bg
	================================================== -->
    <!-- <link rel="stylesheet" href="{{ asset('assets/img/dotane2.jpg') }}"> -->



<!-- Start Header
	================================================== -->
<header id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner">
<div class="container">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<!-- Your Logo -->

		<div style="float: left; width: 50px; height: 50px; margin-top: 15px; margin-right: 20px;">
			<img src="assets/img/logo.jpg" alt="" width="100%">
		</div>

		<a href="#hero" class="navbar-brand">ABHAYA WELFARE FOUNDATION</span></a>
	</div>
	<!-- Start Navigation -->
	<nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	<ul class="nav navbar-nav">
		<li><a href="#hero">Home</a></li>
		<li><a href="#about">About</a></li>
		<li><a href="#features">Services</a></li>
		<li><a href="#gallery">Gallery</a></li>
		<li><a href="#donate">Donate</a></li>
		<li><a href="#contactarea">Contact Us</a></li>
	</ul>
	</nav>
</div>
</header>


<div class="container">
            <div class="row">
            <div class="tm-content-div">
                            <!-- Welcome section -->
                            <div class="tm-content-div">
                            <!-- Welcome section -->
                            <section id="all" class="tm-section">
                                <header><h2 class="tm-blue-text tm-section-title tm-margin-b-30">{{ $slug->name }}</h2></header>
                                <div class="tm-gallery-container tm-gallery-1">

                                    @foreach($portfolio as $port)
                                    <div class="tm-img-container tm-img-container-1">
                                        <a href="{{ asset('storage/'.$port->cover) }}"><img src="{{ asset('storage/'.$port->cover) }}" alt="Image" class="img-fluid tm-img-tn" style="width:300px;height:300px"></a>
                                    </div>
                                    @endforeach
                                </div>
                            </section>
            </div>
</div>


<!-- Intro / Home
	================================================================================================ -->

    <section id="hero" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="herotext">
						<h1 class="wow bounceInDown" data-wow-duration="1s" data-wow-delay="0.1s">Abhaya Welfare Foundation</h1>
						<h4>無畏施福利基金會 <br> 아바야 복지 재단 <br> Abhaya Sozialhilfe Verein <br></h4>
						<p class="lead wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
							When we give cheerfully and accept gratefully, everyone is blessed.
						</p>
						<p>
							<a href="#gallery" class="btn btn-default btn-lg wow fadeInLeft" role="button"> View Gallery </a> &nbsp; <a href="#donate" class="btn btn-default btn-lg wow fadeInRight" role="button">Donate</a>

						</p>
					</div>
				</div>
				<div class="col-md-7">
				</div>
			</div>
		</div>
		</section>













<!-- footer
	=======================================================================================================  -->
	<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <img src="assets\img\logo.jpg" alt="" style="padding-right: 50px;">
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Contact us</h3>
                        <ul>
                            <li>+94715670110 (Main Office)</li><br>
                            <li>Abhaya Welfare</li><br>
                            <li>No 67/25, Hanwella Road, Melwatta, Padukka, Sri Lanka</li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Abhaya Welfare</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <section id="credits" class="text-center">
						<span class="social wow zoomIn">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-skype"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						</span>
					</section>
                </div>
                <p class="copyright">Abhaya Welfare © 2018</p>
            </div>
        </footer>
    </div>



<!-- Bootstrap core JavaScript
	========================================================================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>
<script src="assets/js/jquery.localScroll.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/validate.js"></script>
<script src="assets/js/common.js"></script>

  <!-- load JS files -->
  <script src="{{ asset('assets/js/jquery-1.11.3.min.js') }}"></script>             <!-- jQuery (https://jquery.com/download/) -->
        <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>     <!-- Magnific pop-up (http://dimsemenov.com/plugins/magnific-popup/) -->
        <script src="{{ asset('assets/js/jquery.singlePageNav.min.js') }}"></script>      <!-- Single Page Nav (https://github.com/ChrisWojcik/single-page-nav) -->
        <script>

            $(document).ready(function(){

                // Single page nav
                $('.tm-main-nav').singlePageNav({
                    'currentClass' : "active",
                    offset : 20
                });

                // Magnific pop up
                $('.tm-gallery-1').magnificPopup({
                  delegate: 'a', // child items selector, by clicking on it popup will open
                  type: 'image',
                  gallery: {enabled:true}
                  // other options
                });

                $('.tm-gallery-2').magnificPopup({
                  delegate: 'a', // child items selector, by clicking on it popup will open
                  type: 'image',
                  gallery: {enabled:true}
                  // other options
                });

                $('.tm-gallery-3').magnificPopup({
                  delegate: 'a', // child items selector, by clicking on it popup will open
                  type: 'image',
                  gallery: {enabled:true}
                  // other options
                });

                $('.tm-current-year').text(new Date().getFullYear());
            });
        </script>
</body>
</html>
